version: '3.7'

services:
  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio1
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: ${PWD_A}
      MINIO_SERVER_URL: http://minio.8and1.cn
    ports:
      - "9000:9000" 
      - "9001:9001"
    volumes:
      - /data/minio:/data
      - /etc/default/minio:/etc/config.env 
    command: minio server /data --console-address ":9001"
    networks:
      - shared_network
    restart: unless-stopped 

networks:
  shared_network:

    external: true
