version: '3.7'

services:
  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio1
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: test123456
      MINIO_SERVER_URL: http://127.0.0.1:9000
    ports:
      - "9000:9000" 
      - "9001:9001"
    volumes:
      - ./data/minio:/data
      - ./config:/etc/config.env 
    command: minio server /data --console-address ":9001"
    restart: unless-stopped 
    networks:
      - shared_network
networks:
  shared_network:

    external: true
